dataset/xsd/Actividades/Grupos actividades.xsd

<schema
  xmlns='http://www.w3.org/2000/10/XMLSchema'
  targetNamespace='http://www.um.es/hercules'
  xmlns:t='http://www.um.es/hercules'>

 <element name='main'>
  <complexType>
   <sequence>
    <element ref='t:DATA_RECORD' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
  </complexType>
 </element>

 <element name='DATA_RECORD'>
  <complexType>
   <sequence maxOccurs='unbounded'>
    <element ref='t:IDGRUPOACTIVIDADES'/>
    <element ref='t:CODTIPOACTIVIDAD'/>
   </sequence>
  </complexType>
 </element>

 <element name='IDGRUPOACTIVIDADES' type='string'>
 </element>

 <element name='CODTIPOACTIVIDAD' type='string'>
 </element>
</schema>
